<div data-role="page">

<div data-role="header">
  <h1>Tussam#estimate</h1>
  <a data-rel="back" data-icon="back">Atrás</a>
</div>

<div data-role="content">
  <div class="ui-grid-a">
    <div class="ui-block-a"><%=t :first_one %></div>
    <div class="ui-block-b"><%= @e1 %></div>
    <div class="ui-block-a"><%=t :second_one %></div>
    <div class="ui-block-b"><%= @e2 %></div>
  </div>
</div>

</div>
