<div data-role="header">
  <h1>Localización</h1>
</div>

<div data-role="content">
  <p>No se pueden mostrar las paradas cercanas porque no se pudo determinar su
  ubicación.</p>
  <%= render 'form' %>
</div>
