<div data-role="page">

<div data-role="header">
  <h1>Tussam#stops</h1>
</div>

<div data-role="content">
  <ul data-role="listview">
  <% @stops.each do |stop| %>
    <li><a href="<%= url_for(:action => :estimate, :id => stop.number) %>">
      <h3><%=h stop.name %></h3>
      <p><strong><%=h stop.number %></strong></p>
      <p>1300 m</p>
      <p class="ui-li-aside"><strong><%= stop.lines.join ", " %></strong></p>
    </a></li>
  <% end %>
</ul>
</div>

</div>
