<div data-role="header">
  <h1>Acerca de</h1>
</div>

<div data-role="content">
  <p>Aplicación de consulta de tiempo de llegada a paradas de autobuses urbanos
  (y tranvía) de Sevilla.</p>
  <p>Ni esta aplicación ni su autor tienen ninguna relación con TUSSAM S.A.M. ni
  con el Ayuntamiento de Sevilla.</p>
</div>
