<div data-role="header">
  <h1>Localización</h1>
</div>

<div data-role="content">
  <p>La aplicación necesita determinar su ubicación para poder mostrar una lista
  de las paradas más cercanas.</p>
  <p>Si quiere continuar, permita a la aplicación leer la información de su
  ubicación.</p>
</div>
